/* .profileTitle {
    font-style: 18px;
    font-weight: 100;
    margin-bottom: 10px;
} */

.profileInfo {
  margin-bottom: 30px;
}

.profileInfoItem {
  margin-bottom: 10px;
}

.profileInfoField {
  font-weight: 500;
  margin-right: 15px;
  color: #555;
}

.profileInfoValue {
  font-weight: 300;
}
.profileInput {
  height: 20px;
  border-radius: 10px;
  border: 1px solid gray;
  font-size: 13px;
  padding-left: 20px;
  appearance: none;
}
.profileInput:focus {
  outline: none;
  text-decoration: none;
}
/* .profileFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.profileFollowing {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    cursor: pointer;
}

.profileFollowingImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
} */
