.friendsTitle {
    font-style: 18px;
    font-weight: 100;
    margin-bottom: 10px;
}

.friendsFollowings {
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}

.friendsFollowing {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    cursor: pointer;
}

.friendsFollowingImg {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.friendsFollowButton {
    margin-top: 30px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.friendsFollowButton:focus {
    outline: none;
}